.success, .error{
  color: white;
  padding: 5px;
  margin: 5px 0 15px 0;
}

.header{
  color: blue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style:normal;
  font-weight: bolder;
}

.success{
  background-color: green;

}

.error{
  background-color: red;
}
